---
- name: Ensure Python 3 and pip are installed (Debian/Ubuntu)
  apt:
    name:
      - python3
      - python3-pip
      - python3-venv
      - python3-dev
      - build-essential
    state: present
  become: yes

- name: Create python symlink
  file:
    src: /usr/bin/python3
    dest: "{{ local_bin_dir }}/python"
    state: link

