---
- name: Ensure tmux is installed
  debug:
    msg: "Tmux should be installed via cli-tools role"

- name: Install TPM (Tmux Plugin Manager)
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ ansible_env.HOME }}/.tmux/plugins/tpm"
    depth: 1
    version: master

- name: Copy tmux configuration
  copy:
    src: tmux.conf
    dest: "{{ ansible_env.HOME }}/.tmux.conf"
    mode: '0644'
    backup: yes

- name: Create tmux scripts directory
  file:
    path: "{{ ansible_env.HOME }}/.tmux/scripts"
    state: directory
    mode: '0755'

- name: Create tmux resurrect directory
  file:
    path: "{{ ansible_env.HOME }}/.tmux/resurrect"
    state: directory
    mode: '0755'

- name: Install tmux plugins
  shell: "{{ ansible_env.HOME }}/.tmux/plugins/tpm/bin/install_plugins"
  args:
    executable: /bin/bash
  changed_when: false
  ignore_errors: yes

- name: Display tmux setup message
  debug:
    msg: |
      Tmux installed! 
      - Press prefix + I (Ctrl-Space + Shift-i) to install plugins when you first start tmux
      - Prefix key is Ctrl-Space (not Ctrl-b)

